# CONFIG_MALI_CSF_SUPPORT is not set
# CONFIG_FRAMEBUFFER_CONSOLE is not set
CONFIG_R8168=y
CONFIG_NET_VENDOR_REALTEK=y
CONFIG_RTC_DRV_RK808=n
CONFIG_LEDS_TRIGGER_HEARTBEAT=y
CONFIG_TUN=y
CONFIG_NET_TEAM=y
CONFIG_NET_TEAM_MODE_BROADCAST=y
CONFIG_NET_TEAM_MODE_ROUNDROBIN=y
CONFIG_NET_TEAM_MODE_RANDOM=y
CONFIG_NET_TEAM_MODE_ACTIVEBACKUP=y
CONFIG_NET_TEAM_MODE_LOADBALANCE=y
