// SPDX-License-Identifier: (GPL-2.0+ OR MIT)
/*
 * Copyright (c) 2021 Rockchip Electronics Co., Ltd.
 *
 */

/dts-v1/;

#include "rk3588-hugsun-dmc.dtsi"
#include "rk3588-linux.dtsi"

/ {
	model = "RK3588 ALU LP4x V1.0 GameBox Board";
	compatible = "rockchip,rk3588-dmc-alu-linux", "rockchip,rk3588";


	vcc3v3_lcd: vcc3v3-lcd {
		compatible = "regulator-fixed";
		regulator-name = "vcc3v3_lcd";
		vin-supply = <&vcc_3v3_s0>;
	};


	panel-edp1 {
		compatible = "simple-panel";
		backlight = <&backlight2>;
		power-supply = <&vcc3v3_lcd>;
		reset-gpios = <&gpio3 RK_PC6 GPIO_ACTIVE_LOW>;
		pinctrl-names = "default";
		pinctrl-0 = <&edp1_rst_gpio>;
		prepare-delay-ms = <120>;
		enable-delay-ms = <120>;
		unprepare-delay-ms = <120>;
		disable-delay-ms = <120>;

		port {
			panel_in_edp1: endpoint {
				remote-endpoint = <&edp1_out_panel>;
			};
		};
	};

	gpio_keys: gpio-keys {
		compatible = "gpio-keys";
		pinctrl-names = "default";
		pinctrl-0 = <&gpiokey>;

		gpio_key13 {
			debounce-interval = <10>;
			gpios = <&gpio3 RK_PC4 GPIO_ACTIVE_LOW>;
			label = "GPIO Key 13";
			linux,code = <KEY_ESC>;
			wakeup-source;
		};		
	};	
};

&edp1 {
	status = "okay";
	pinctrl-names = "default";
	pinctrl-0 = <&edp1_hpd>;
	hpd-gpios = <&gpio0 RK_PC4 GPIO_ACTIVE_HIGH>;

	ports {
		port@1 {
			reg = <1>;

			edp1_out_panel: endpoint {
				remote-endpoint = <&panel_in_edp1>;
			};
		};
	};
};

&edp1_in_vp2 {
	status = "okay";
};

&hdptxphy1 {
	status = "okay";
};

/*
 * mipi_dcphy1 needs to be enabled
 * when dsi1 is enabled
 */
&dsi1 {
	status = "okay";
};

&dsi1_in_vp2 {
	status = "disabled";
};

&dsi1_in_vp3 {
	status = "okay";
};

&mipi_dcphy1 {
	status = "okay";
};


&hdmi0 {
	enable-gpios = <&gpio4 RK_PB1 GPIO_ACTIVE_HIGH>;
	cec-enable = "true" ;
	status = "okay";
};

&hdmi0_in_vp0 {
	status = "okay";
};

&hdmi0_sound {
	status = "okay";
};

//hdmi01 sound
&i2s5_8ch {
	status = "okay";
};

&hdptxphy_hdmi0 {
	status = "okay";
};

&route_edp1 {
	connect = <&vp2_out_edp1>;
	status = "okay";
};

&route_dsi1 {
	status = "okay";
	connect = <&vp3_out_dsi1>;
};

&route_hdmi0 {
	status = "okay";
	connect = <&vp0_out_hdmi0>;
};

&pinctrl {
	buttons {
		gpiokey: gpiokey {
			rockchip,pins = 
				<3 RK_PC4 RK_FUNC_GPIO &pcfg_pull_up>;
		};
	};

	edp {
		edp1_hpd: edp1-hpd {
			rockchip,pins = <0 RK_PC4 0 &pcfg_pull_none>;
		};

		edp1_rst_gpio: edp1-rst-gpio {
			rockchip,pins = <3 RK_PC6 RK_FUNC_GPIO &pcfg_pull_none>;
		};
	};

};


